<!DOCTYPE html>
<html>

 <!-- parcial header --> 

<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Página Web | Mi App</title>
</head>

<body>