{{> header }}

   {{> navbar }}

     <!-- contenido pag about --> 
     
    <div class="row">

        <div class="col-8">
            <h1>About</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit sequi nisi est obcaecati quas aut, asperiores reprehenderit corporis a unde itaque rerum maxime quod perspiciatis praesentium iste velit! Omnis, quo!
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/starwars.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer }}
   